email-validator==2.1.0
flask==3.0.0
flask-dance==7.0.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
gunicorn==23.0.0
matplotlib==3.8.2
oauthlib==3.2.2
psycopg2-binary==2.9.9
pyjwt==2.8.0
sqlalchemy==2.0.28
weasyprint==60.2
werkzeug==3.0.1
xhtml2pdf==0.2.11